@media (max-width:1799.98px) {
  .header_area .custom_container .navbar .menus ul li a {
    font-size: 19.93px;
  }

  .header_area .custom_container .navbar .menus ul li {
    margin-left: 52px;
  }

  .navbar .logo img {
    width: 200px;
  }

  .banner_area .main .text .subtitle {
    font-size: 53.166px;
  }

  .banner_area .main .text .title {
    color: #ffffff;
    font-size: 230px;
    line-height: 183.006px;
  }

  .banner_area .main .image {
    max-width: 703px;
    margin-left: 120px;
  }

  .banner_area {
    padding-top: 169px;
  }

  .banner_area .main .image {
    margin-top: -80px;
  }

  .banner_area .banner_bottom .main ul {
    margin-left: 0;
    padding: 0 60px;
  }

  .banner_area .banner_bottom {
    margin-top: -21px;
  }

  .banner_area .main .text .button_groups .theme_btn {
    font-size: 31.243px;
  }

  .about_area .main .text {
    max-width: 504px;
  }

  .about_area .main .text .about_title {
    width: 594.327px;
    height: 103.843px;
  }

  .about_area .main .text .about_title .title {
    font-size: 51.798px;
  }

  .about_area .main .text p {
    font-size: 20.019px;
    line-height: 30.027px;
  }

  .about_area .main .text {
    padding: 100.681px 40.787px 50.446px 47.433px;
  }

  .about_area .main .image {
    max-width: 651px;
    width: 100%;
    margin-left: -8px;
  }

  .how_to_buy_area .top_title .title {
    font-size: 109px;
  }

  .how_to_buy_area .top_title .title img {
    position: absolute;
    top: -65px;
    right: -361px;
    width: 250px;
  }

  .how_to_buy_area .top_title {
    top: 36px;
  }

  .about_area .main .text {
    margin-right: 50px;
  }

  .about_area .main .text .about_title img {
    top: -64px;
    right: -42px;
    width: 180px;
  }

  .about_area .main .text {
    margin-top: 169px;
  }

  .about_area .main .text {
    margin-left: 47px;
  }

  .about_area .main {
    justify-content: center;
  }

  .how_to_buy_area .buy_main {
    margin: 0 20px;
  }

  .how_to_buy_area .buy_main .buy_now_box {
    gap: 40px;
    row-gap: 100px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item {
    width: 521px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item p {
    font-size: 20.601px;
    line-height: 30.641px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .title {
    color: #000;
    font-size: 32.729px;
    font-weight: 600;
    line-height: 59.673px;
    margin-bottom: 10px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .number {
    width: 100.011px;
    height: 100.011px;
    font-size: 54.674px;
    top: -51px;
    left: 47px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon {
    width: 160px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon {
    right: 23px;
    top: -91px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon4 {
    top: -33px !important;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon3 {
    top: -78px !important;
  }

  .how_to_buy_area .buy_main .buy_main_shape_line {
    margin-left: -131px;
    margin-top: -87px;
    width: 1018px;
  }

  .token_area {
    margin-top: 59px;
  }

  .token_area .image img {
    width: 350px;
  }

  .token_area .title h4 img {
    position: absolute;
    right: -214px;
    top: -57px;
    width: 180px;
  }

  .supply_area .main {
    margin: 0 20px;
  }

  .supply_area .main .item .title {
    font-size: 36.561px;
  }

  .supply_area .main .item .img img {
    width: 280px;
  }

  .supply_area .main .item ul li span {
    font-size: 32.542px;
  }

  .supply_area .main .item ul li small {
    font-size: 21.028px;
  }

  .supply_area .main .item ul li {
    height: 123.898px;
    padding: 30.542px 40.111px 30.542px 40.542px;
  }

  .supply_area .main {
    gap: 90px;
  }

  .supply_area .main .item {
    width: 524.472px;
    height: 652.302px;
    padding: 38px 28px 49px 28px;
  }

  .supply_area .main .item2 {
    height: 817.976px !important;
  }

  .supply_area .main {
    max-width: 1160px;
    margin: 0 auto;
  }

  .footer_area .custom_container .development_by {
    padding-top: 30px;
    padding-bottom: 45px;
  }
}

@media (max-width:1199.98px) {
  .header_area .custom_container .navbar .menus ul li {
    margin-left: 35px;
  }

  .banner_area .main .text .title {
    font-size: 179px;
    line-height: 153.006px;
  }

  .banner_area .main .text .subtitle {
    font-size: 38.166px;
    line-height: 24.166px;
  }

  .banner_area .main .text p {
    font-size: 20.602px;
    line-height: 29.842px;
  }

  .banner_area .main .image {
    max-width: 564px;
    margin-left: 120px;
  }

  .banner_area .main .text .title img {
    position: absolute;
    top: -56px;
    right: -61px;
    width: 136px;
  }

  .banner_area .banner_bottom .main ul li a img {
    transition: all linear 0.2s;
    width: 85px;
  }

  .banner_area .banner_bottom {
    height: 138.312px;
  }

  .about_area .main .text {
    padding: 70.681px 30.787px 40.446px 30.433px;
  }

  .about_area .main .text {
    max-width: 405px;
  }

  .about_area .main .text p {
    font-size: 16.019px;
    line-height: 28.027px;
  }

  .about_area .main .text .about_title .title {
    font-size: 39.798px;
  }

  .about_area .main .text .about_title {
    width: 466.327px;
    height: 91.843px;
  }

  .about_area .main .text .about_title {
    left: -34px;
  }

  .about_area .main .text .about_title img {
    top: -53px;
    right: -45px;
    width: 148px;
  }

  .about_area .main .text {
    margin-top: 142px;
  }

  .about_area .main .text .about_title {
    top: -68px;
  }

  .how_to_buy_area .top_title .title {
    font-size: 96px;
  }

  .how_to_buy_area .top_title .title img {
    position: absolute;
    top: -35px;
    right: -239px;
    width: 201px;
  }

  .how_to_buy_area .top_title {
    height: 134.622px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item {
    width: 456px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon {
    width: 142px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon {
    right: 23px;
    top: -79px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon3 {
    top: -65px !important;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item {
    padding: 65px 40px 46px 40px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .title {
    font-size: 25.729px;
    font-weight: 600;
    line-height: 36.673px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item p {
    font-size: 18.601px;
    line-height: 28.641px;
  }

  .how_to_buy_area .buy_main .buy_main_shape_line {
    margin-left: -148px;
    margin-top: -41px;
    width: 830px;
  }

  .token_area .title h4 {
    font-size: 98.888px;
    line-height: 75.311px;
  }

  .token_area .title h4 img {
    top: -66px;
  }

  .supply_area .main .item .img img {
    width: 235px;
  }

  .supply_area .main .item {
    width: 435.472px;
  }

  .supply_area .main .item ul li span {
    font-size: 28.542px;
  }

  .supply_area .peiro_image img {
    width: 400px;
  }
}

@media (max-width:991.98px) {
  .header_area .custom_container {
    display: none;
  }

  .mobile-menu-area {
    display: block;
  }

  .mobile-topbar {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile_buy {
    text-align: center;
  }

  .mobile_buy a {
    color: #fff;
  }

  .banner_area .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .banner_area .main .text .title {
    font-size: 129px;
    line-height: 133.006px;
    display: inline-block;
  }

  .banner_area .main .text .title img {
    position: absolute;
    top: -41px;
    right: -61px;
    width: 116px;
  }

  .banner_area .main .text p {
    max-width: 100%;
  }

  .banner_area .main .image {
    max-width: 364px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .banner_area .banner_bottom {
    height: 118.312px;
  }

  .banner_area .banner_bottom .main ul {
    margin-left: 0;
    justify-content: center;
  }

  .about_area .main {
    flex-direction: column;
  }

  .about_area .main .image {
    max-width: 532px;
    margin: 0 auto;
  }

  .about_area .main .text {
    max-width: 100%;
    width: unset;
  }

  .about_area .main .text .about_title {
    width: 100%;
    height: 91.843px;
  }

  .about_area .main .text .about_title {
    left: 0;
  }

  .about_area .main .text .about_title {
    top: -86px;
  }

  .about_area .main .text {
    margin-top: 32px;
  }

  .about_area .main .text p {
    font-size: 18.019px;
    line-height: 28.027px;
  }

  .how_to_buy_area {
    margin-top: -8px;
  }

  .how_to_buy_area .top_title .title {
    margin-left: -212px;
  }

  .how_to_buy_area .buy_main .shape_line {
    display: none;
  }

  .how_to_buy_area .buy_main .buy_now_box {
    position: static;
    transform: unset;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item {
    width: 100%;
  }

  .how_to_buy_area .buy_main .buy_now_box {
    margin-top: 132px;
  }

  .token_area .title h4 {
    font-size: 79.888px;
    line-height: 75.311px;
  }

  .supply_area .main {
    gap: 80px;
    flex-direction: column;
  }

  .supply_area .main .item {
    width: 90%;
    margin: 0 auto;
  }

  .supply_area {
    margin-top: 112px;
  }

  .supply_area .main .item .img img {
    width: 201px;
  }

  .supply_area .main .item .img {
    right: -28px;
  }

  .footer_area {
    text-align: center;
  }

  .footer_area .custom_container .img img {
    width: 400px;
  }

  .supply_area .peiro_image {
    margin-left: 0;
  }

  .supply_area .peiro_image {
    margin-top: -55px;
  }

  .token_area .image {
    margin-left: 0;
  }
}

@media (max-width:767.98px) {
  .how_to_buy_area .top_title .title {
    font-size: 68px;
  }

  .how_to_buy_area .top_title .title img {
    position: absolute;
    top: -16px;
    right: -186px;
    width: 166px;
  }

  .token_area .title h4 {
    font-size: 64.888px;
    line-height: 65.311px;
  }

  .token_area .title h4 img {
    position: absolute;
    right: -154px;
    top: -42px;
    width: 134px;
  }

  .token_area .title h4 {
    margin-left: -156px;
  }

  .supply_area .peiro_image img {
    width: 340px;
  }

  .banner_area .banner_bottom .main ul {
    gap: 14px;
  }
}

@media (max-width:575.98px) {
  .banner_area .main .text .subtitle {
    font-size: 31.166px;
    line-height: 24.166px;
  }

  .banner_area .main .text .title {
    font-size: 109px;
    line-height: 103.006px;
    margin-bottom: 10px;
  }

  .banner_area .main .text p {
    font-size: 18.602px;
    line-height: 29.842px;
  }

  .banner_area .main .text .button_groups .theme_btn {
    font-size: 21.243px;
  }

  .banner_area .main .text .button_groups .theme_btn {
    line-height: 44.14px;
  }

  .banner_area .banner_bottom .main ul {
    gap: 8px;
    flex-wrap: wrap;
  }

  .banner_area .banner_bottom .main ul li a img {
    transition: all linear 0.2s;
    width: 58px;
  }

  .banner_area .banner_bottom .main ul {
    margin-left: 0;
    padding: 0 20px;
  }

  .about_area .main {
    padding-left: 0;
  }

  .about_area .main .text {
    margin: 0 12px;
  }

  .about_area {
    margin-top: 0;
  }

  .about_area .main .text .about_title .title {
    font-size: 31.798px;
  }

  .about_area .main .text .about_title {
    top: -39px;
    height: 72px;
  }

  .about_area .main .text .about_title .title {
    margin-top: 0;
  }

  .about_area .main .text .about_title img {
    width: 117px;
  }

  .about_area .main .text p {
    font-size: 16.019px;
    line-height: 26.027px;
  }

  .how_to_buy_area .top_title .title img {
    position: absolute;
    top: -15px;
    right: -143px;
    width: 114px;
  }

  .how_to_buy_area .top_title .title {
    font-size: 39px;
  }

  .how_to_buy_area .top_title .title {
    margin-left: -126px;
  }

  .how_to_buy_area .top_title .title {
    -webkit-text-stroke-width: 2px;
  }

  .how_to_buy_area .top_title {
    height: 109.622px;
  }

  .how_to_buy_area .top_title .title {
    line-height: 60.732px;
    top: -4px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item {
    padding: 65px 24px 30px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .number {
    width: 70.011px;
    height: 70.011px;
    font-size: 39.674px;
    top: -38px;
    left: 20px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item p {
    font-size: 16.601px;
    line-height: 25.641px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon {
    right: 19px;
    top: -67px;
    width: 122px;
  }

  .how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon2 {
    right: 19px;
    top: -89px;
    width: 122px;
  }

  .token_area .image img {
    width: 250px;
  }

  .token_area .title h4 {
    font-size: 32.888px;
    line-height: 35.311px;
  }

  .token_area .title h4 {
    -webkit-text-stroke-width: 0px;
  }

  .token_area .title h4 img {
    position: absolute;
    right: -109px;
    top: -35px;
    width: 89px;
  }

  .token_area .title h4 {
    margin-left: -118px;
  }

  .supply_area .main .item .img img {
    width: 162px;
  }

  .supply_area .main .item .title {
    font-size: 28.561px;
  }

  .supply_area .main .item ul li span {
    font-size: 21.542px;
  }

  .supply_area .main .item ul li {
    height: 103.898px;
    padding: 25.542px 22.111px 25.542px 22.542px;
  }

  .supply_area .peiro_image img {
    width: 253px;
  }

  .footer_area .custom_container .img img {
    width: 300px;
  }

  .footer_area .custom_container .footer_icon a img {
    width: 50px;
  }

  .footer_area .custom_container .footer_icon a {
    margin-right: 0;
    margin: 0 5px;
  }
}