@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/*   font-family: "Londrina Solid", sans-serif; */
/*   font-family: "Inter", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all linear 0.2s;
}

button {
  transition: all linear 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: #161010;
  position: relative;
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.container-fluid {
  margin: 0 auto;
}

::selection {
  background-color: #638F49;
  color: #ffffff;
}

.theme_btn {
  flex-shrink: 0;
  padding: 0.5rem 1.5rem 0.85rem;
  border-radius: 1.125rem;
  border: 0.1875rem solid #000;
  background-color: #638F49;
  box-shadow: -7px -7px 4px 0 rgba(0, 0, 0, 0.45) inset, 4.505px 4.505px 0 1.502px #000;
  transition: box-shadow -9.075px -9.075px 5.186px 3.889px rgba(0, 0, 0, 0.45), 5.841px 5.841px 0px 1.947px #000;
  transition: box-shadow -9.075px -9.075px 5.186px 3.889px rgba(0, 0, 0, 0.45), 5.841px 5.841px 0px 1.947px #000;
  transition: box-shadow -9.075px -9.075px 5.186px 3.889px rgba(0, 0, 0, 0.45), 5.841px 5.841px 0px 1.947px #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.theme_btn:hover {
  -webkit-transform: translate(0.1875rem, 0.1875rem);
  transform: translate(0.1875rem, 0.1875rem);
  box-shadow: -7px -7px 4px 0 rgba(0, 0, 0, 0.45) inset, 1.505px 1.505px 0 1.502px #000;
}

.header_area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 20px 0;
  transition: all linear 0.2s;
}

.header_area .custom_container {
  max-width: 1656px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.header_area .custom_container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_area .custom_container .navbar .menus ul li {
  display: inline-block;
  margin-left: 82px;
}
.header_area .custom_container .navbar .menus ul li a {
  color: #ffffff;
  font-size: 25.93px;
  font-weight: 400;
  line-height: 36.302px;
}
.header_area .custom_container .navbar .menus ul li a:hover {
  color: #638F49;
}
.header_area .custom_container .navbar .menus ul .buy_now a {
  text-transform: uppercase;
}
.header_area .custom_container .navbar .menus ul .buy_now a:hover {
  color: #ffffff;
}

.mobile-menu-area {
  display: none;
}

.banner_area {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding-top: 262px;
}
.banner_area .custom_container {
  max-width: 1671px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.banner_area .main {
  display: flex;
  justify-content: space-between;
}
.banner_area .main .text .subtitle {
  color: #ffffff;
  font-size: 92.166px;
  font-weight: 700;
  line-height: 92.166px;
  margin-bottom: 20px;
}
.banner_area .main .text .title {
  color: #ffffff;
  font-family: "Londrina Solid", sans-serif;
  font-size: 320px;
  font-weight: 900;
  line-height: 213.006px;
  position: relative;
  margin-bottom: 40px;
}
.banner_area .main .text .title img {
  position: absolute;
  top: -102px;
  right: -99px;
}
.banner_area .main .text p {
  color: #ffffff;
  font-size: 25.602px;
  font-weight: 400;
  line-height: 35.842px;
  max-width: 550px;
  margin-bottom: 50px;
}
.banner_area .main .text .button_groups .theme_btn {
  color: #ffffff;
  font-size: 42.243px;
  font-weight: 500;
  line-height: 59.14px;
}
.banner_area .main .text .button_groups .cart {
  color: #000000;
  font-size: 42.243px;
  font-weight: 500;
  line-height: 59.14px;
  margin-left: 25px;
  background-color: #ffffff;
}
.banner_area .main .image {
  max-width: 964px;
  flex: 0 0 auto;
  margin-top: -210px;
}
.banner_area .main .image img {
  width: 100%;
}
.banner_area .banner_bottom {
  width: 110%;
  height: 162.312px;
  transform: rotate(-3deg);
  border: 9.144px solid #000;
  background: linear-gradient(270deg, #225A00 0%, #638F49 46.25%, #225A00 99.2%);
  box-shadow: 0px 10.287px 0px 0px #000;
  margin-top: -100px;
  margin-left: -5%;
  display: flex;
  align-items: center;
}
.banner_area .banner_bottom .main {
  max-width: 1221px;
  width: 100%;
  margin: 0 auto;
}
.banner_area .banner_bottom .main ul {
  margin-left: -40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  align-items: center;
}
.banner_area .banner_bottom .main ul li a img {
  transition: all linear 0.2s;
}
.banner_area .banner_bottom .main ul li a:hover img {
  transform: rotateX(20deg);
}

.about_area .main {
  display: flex;
  align-items: flex-start;
  padding-left: 7px;
  max-width: 1746px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}
.about_area .main .about_shadow {
  position: absolute;
  z-index: -1;
  top: -53px;
  right: -192px;
}
.about_area .main .image {
  max-width: 854px;
  width: 100%;
  margin-left: -80px;
}
.about_area .main .image img {
  width: 100%;
}
.about_area .main .text {
  margin-top: 226px;
  flex: 0 0 auto;
  max-width: 804px;
  width: 100%;
  border-radius: 37.524px;
  border: 6.254px solid #000;
  background: #FFF;
  box-shadow: -13.759px -11.257px 5.003px 6.254px rgba(0, 0, 0, 0.25) inset, 9.59px 9.59px 0px 0px #000;
  padding: 137.681px 63.787px 112.446px 63.433px;
  position: relative;
  z-index: 9;
  margin-left: 100px;
}
.about_area .main .text .about_title {
  width: 894.327px;
  height: 143.843px;
  transform: rotate(-3deg);
  border-radius: 125.081px;
  border: 10.006px solid #000;
  background: #638F49;
  box-shadow: 1.26px -8.765px 5.003px 9.006px rgba(0, 0, 0, 0.24) inset, 0px 17.479px 0px 0px #000;
  display: flex;
  align-items: center;
  padding-left: 45px;
  position: absolute;
  top: -83px;
  left: -60px;
}
.about_area .main .text .about_title img {
  position: absolute;
  top: -91px;
  right: -42px;
}
.about_area .main .text .about_title .title {
  color: #FFF;
  font-family: "Londrina Solid", sans-serif;
  font-size: 73.798px;
  font-weight: 900;
  line-height: 73.798px;
  margin-top: -10px;
}
.about_area .main .text p {
  color: #000000;
  font-size: 30.019px;
  font-weight: 500;
  line-height: 42.027px;
}

.how_to_buy_area {
  margin-top: -57px;
}
.how_to_buy_area .top_title {
  width: 100%;
  display: flex;
  align-items: center;
  transform: rotate(3deg);
  border-top: 9.215px solid #000;
  border-bottom: 18.429px solid #000;
  background: linear-gradient(270deg, #225A00 0%, #638F49 46.25%, #225A00 99.2%);
  height: 171.622px;
  position: relative;
  top: -10px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how_to_buy_area .top_title .title {
  color: #FFF;
  text-shadow: 0px 9.215px 0px #000;
  -webkit-text-stroke-width: 7px;
  -webkit-text-stroke-color: #000;
  font-family: "Londrina Solid", sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 900;
  line-height: 108.732px;
  position: relative;
  top: -10px;
  margin-left: -333px;
}
.how_to_buy_area .top_title .title img {
  position: absolute;
  top: -85px;
  right: -471px;
}
.how_to_buy_area .buy_main {
  position: relative;
}
.how_to_buy_area .buy_main .shape_line {
  text-align: center;
}
.how_to_buy_area .buy_main .buy_main_shape_line {
  margin-left: -252px;
  margin-top: -203px;
}
.how_to_buy_area .buy_main .buy_now_box {
  max-width: 1617px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 195px;
  flex-wrap: wrap;
  position: absolute;
  top: 195px;
  left: 50%;
  transform: translateX(-50%);
}
.how_to_buy_area .buy_main .buy_now_box .buy_now_item {
  width: 710.698px;
  border-radius: 39.121px;
  border: 6.52px solid #000;
  background: #FFF;
  box-shadow: -4.344px -5.736px 5.216px 6.52px rgba(0, 0, 0, 0.25) inset, 9.998px 9.998px 0px 0px #000;
  position: relative;
  padding: 109px 71px 65px 58px;
}
.how_to_buy_area .buy_main .buy_now_box .buy_now_item .number {
  display: flex;
  width: 133.011px;
  height: 133.011px;
  justify-content: center;
  align-items: center;
  border-radius: 66.506px;
  border: 5.216px solid #000;
  background: #638F49;
  box-shadow: -2.52px -5.04px 5.216px 5.216px rgba(0, 0, 0, 0.45) inset;
  color: #000;
  font-size: 88.674px;
  font-style: normal;
  font-weight: 600;
  position: absolute;
  top: -70px;
  left: 73px;
}
.how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon {
  position: absolute;
  right: 40px;
  top: -109px;
}
.how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon2 {
  top: -149px;
}
.how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon3 {
  top: -85px;
}
.how_to_buy_area .buy_main .buy_now_box .buy_now_item .buy_icon4 {
  top: -36px;
  right: 10px;
}
.how_to_buy_area .buy_main .buy_now_box .buy_now_item .title {
  color: #000;
  font-size: 41.729px;
  font-weight: 600;
  line-height: 59.673px;
  margin-bottom: 25px;
}
.how_to_buy_area .buy_main .buy_now_box .buy_now_item p {
  color: #000;
  font-size: 32.601px;
  font-weight: 500;
  line-height: 45.641px;
}

.token_area {
  margin-top: 160px;
}
.token_area .image {
  margin-left: -80px;
  text-align: center;
}
.token_area .title {
  width: 110%;
  padding: 0;
  transform: rotate(-3deg);
  border-top: 9.009px solid #000;
  border-bottom: 18.019px solid #000;
  background: linear-gradient(270deg, #225A00 0%, #638F49 46.25%, #225A00 99.2%);
  margin-top: -25px;
  margin-left: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.token_area .title h4 {
  color: #FFF;
  text-shadow: 0px 9.009px 0px #000;
  text-shadow: 0 0.0677966102em 0 #000;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #000;
  font-family: "Inter", sans-serif;
  font-size: 132.888px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.311px;
  position: relative;
  margin-left: -250px;
}
.token_area .title h4 img {
  position: absolute;
  right: -450px;
  top: -90px;
}

.supply_area {
  margin-top: 150px;
}
.supply_area .main {
  display: flex;
  justify-content: center;
  max-width: 1396px;
  width: 100%;
  margin: 0 auto;
  gap: 129px;
}
.supply_area .main .item {
  width: 633.472px;
  height: 770.302px;
  flex-shrink: 0;
  border-radius: 33.785px;
  border: 2.252px solid #000;
  background: #FFF;
  box-shadow: -11.262px -12.388px 4.505px 2.252px rgba(0, 0, 0, 0.25) inset, 8.634px 8.634px 0px 0px #000;
  padding: 38px 40px 49px 40px;
  position: relative;
}
.supply_area .main .item .img {
  position: absolute;
  top: -80px;
  right: -80px;
}
.supply_area .main .item .title {
  color: #000000;
  font-size: 58.561px;
  font-weight: 600;
  line-height: normal;
}
.supply_area .main .item ul {
  margin-top: 24px;
}
.supply_area .main .item ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 141.898px;
  padding: 40.542px 40.111px 40.542px 40.542px;
  border-radius: 22.523px;
  border: 4.505px solid #000;
  background: #ECEBFF;
  box-shadow: 2.252px 2.252px 0px 0px #000;
}
.supply_area .main .item ul li span {
  color: #000;
  font-size: 40.542px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.supply_area .main .item ul li small {
  color: #000;
  text-align: right;
  font-size: 27.028px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.supply_area .main .item ul li small button {
  background-color: transparent;
  border: 0;
  position: relative;
  top: 12px;
  margin-left: 8px;
  cursor: pointer;
}
.supply_area .main .item ul li + li {
  margin-top: 24px;
}
.supply_area .main .item ul .active {
  border-radius: 22.523px;
  border: 4.505px solid #000;
  background: #638F49;
  box-shadow: 2.252px 2.252px 0px 0px #000;
}
.supply_area .main .item1 {
  margin-top: 166px;
}
.supply_area .main .item2 {
  height: 936.976px;
}
.supply_area .peiro_image {
  text-align: center;
  margin-top: -120px;
  position: relative;
  z-index: 9;
  margin-left: -100px;
}

.footer_area {
  border-top: 8px solid #000;
  border-bottom: 8px solid #000;
  background: linear-gradient(270deg, #225A00 0%, #638F49 46.25%, #225A00 99.2%);
  box-shadow: 0px 9px 0px 0px #000;
  padding-top: 58px;
}
.footer_area .custom_container {
  max-width: 1396px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.footer_area .custom_container .img {
  padding-bottom: 49px;
}
.footer_area .custom_container .footer_icon {
  margin-left: 20px;
  padding-bottom: 41px;
}
.footer_area .custom_container .footer_icon a {
  margin-right: 15px;
}
.footer_area .custom_container .footer_icon a img {
  transition: all linear 0.2s;
}
.footer_area .custom_container .footer_icon a img:hover {
  transform: rotateX(20deg);
}
.footer_area .custom_container .development_by {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 45px;
  margin-left: 20px;
  padding-bottom: 95px;
}
.footer_area .custom_container .development_by p {
  color: #C4C4C4;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.sticky-menu {
  position: fixed;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 20px rgba(25, 25, 25, 0.1);
  padding: 10px 0;
  background-color: #000000;
}

#header-fixed-height.active-height {
  display: block;
  height: 78px;
}

/* back to top button start */
.scroll-to-top {
  display: inline-block;
  background-color: #031A12;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 5px;
  font-size: 19px;
  color: #ffffff;
  cursor: pointer;
  transition: all linear 0.3s;
  border: 0;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
}

.mobile-menu-area {
  z-index: 999;
  background-color: transparent;
  width: 100%;
  transition: all linear 0.2s;
}

.mobile-menu-area .mobile-topbar {
  width: 100%;
  background-color: transparent;
}

.mobile-menu-area .mobile-topbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.mobile-menu-area .mobile-topbar .bars {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  line-height: 31px;
  border-radius: 3px;
  cursor: pointer;
  transition: all linear 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-area .mobile-topbar .bars svg {
  width: 30px;
  height: 30px;
}

.mobile-menu-area .mobile-topbar .icon i {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  cursor: pointer;
  transition: all linear 0.2s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.mobile-menu-area .mobile-topbar .icon i:hover {
  background-color: #031A12;
  color: #fff;
  border-color: #031A12;
}

.mobile-menu-area .mobile-menu-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.mobile-menu-area .mobile-menu-main {
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #225A00 0%, #638F49 46.25%, #225A00 99.2%);
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999;
  overflow-y: scroll;
  transition-duration: 0.3s;
}

.mobile-menu-area .mobile-menu-main .logo {
  padding: 20px;
}

.mobile-menu-area .mobile-menu-main .close-mobile-menu {
  position: absolute;
  top: 17px;
  right: 10px;
}

.mobile-menu-area .mobile-menu-main .close-mobile-menu {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  cursor: pointer;
  transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.mobile-menu-area .mobile-menu-main .close-mobile-menu svg {
  width: 30px;
  height: 30px;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list {
  padding-top: 73px;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li {
  text-align: center;
  margin-bottom: 15px;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  padding: 0px 20px;
  line-height: 44px;
  padding-right: 10px;
  transition: all linear 0.2s;
  display: inline-block;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a:hover {
  color: #ffffff;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a i {
  width: 32px;
  height: 32px;
  background-color: #fff;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #ddd;
  transition: all linear 0.2s;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a:hover i {
  background-color: #031A12;
  color: #fff;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul {
  padding-left: 0;
  display: none;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul a {
  padding: 0px 20px;
  padding-left: 40px;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul li:last-child a {
  border-bottom: 0;
}

.mobile-menu-area .mobile-menu-main .menu-body .social-icon ul li {
  display: inline-block;
}

.mobile-menu-area .mobile-menu-main .social-icon {
  padding: 20px;
  text-align: center;
}

.mobile-menu-area .mobile-menu-main .social-icon ul li {
  display: inline-block;
  margin: 0 4px;
}

.mobile-menu-area .mobile-menu-main .social-icon ul li a {
  width: 36px;
  height: 36px;
  color: #031A12;
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  border-radius: 3px;
  background-color: #ddd;
}

.mobile-menu-area .mobile-menu-main .social-icon ul li a:hover {
  background-color: #031A12;
  color: #fff;
  border-color: #031A12;
}

.mobile-menu-overlay {
  transition-duration: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.mobile-menu-overlay.active {
  visibility: visible;
  opacity: 1;
}

.mobile-menu-main.active {
  right: 0 !important;
}

.mobile-menu-area .mobile-menu-action-btn {
  padding: 20px;
}

.mobile-menu-area .mobile-menu-action-btn a {
  color: #fff;
  background-color: #031A12;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.mobile-menu-area .mobile-menu-action-btn a:hover {
  background-color: #031A12;
}

.mobile-menu-area .mobile-menu-action-btn a i {
  font-size: 14px;
  margin-left: 8px;
}

/*# sourceMappingURL=style.css.map */
